<div class="card border-light mb-3" style="width: 18rem">
  <img
    src="{{ avatar }}"
    class="card-img-top"
    alt="avatar {{ firstName }}"
    height="300"
  />
  <div class="card-body">
    <h5 class="card-title">{{ firstName }}</h5>
    <h5 class="card-title">{{ lastName }}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a
      href="{{ gitURL }}"
      class="btn"
      style="background-color: #21a649"
      role="button"
      >GitHub</a
    >
  </div>
</div>
