<div class="container-fluid m-5">
  <h1>Ones in charge</h1>
</div>
<div class="container-fluid text-center m-5">
  <div class="row gx-5">
    <div class="col">
      <app-card
        firstName="Александра"
        lastName="Ткаченко"
        avatar="assets/alex-avatar.jpg"
        gitURL="https://github.com/alixchan"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        firstName="Марина"
        lastName="Бирюкова"
        avatar="assets/marina-avatar.jpg"
        gitURL="https://github.com/MarinaBiryukova"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        firstName="Kate"
        lastName="Lebedeva"
        avatar="assets/kate-avatar.jpg"
        gitURL="https://github.com/w0lframm"
      ></app-card>
    </div>
  </div>
</div>
