<!-- <h1>{{ title }}</h1> -->
<app-navbar></app-navbar>
<div class="container my-5">
  <div class="alert alert-primary" role="alert">
    This text was taken from <a href="http://84.201.178.149:4200/">here</a>
  </div>
  <h1>Jira analyzer</h1>
  <p>
    Данное приложение позволяет осуществить аналитику по проектам из открытых
    источников Jira. ! NOT YET !
  </p>
  <p>
    Добавить проекты для аналитики вы можете на странице "Проекты". ! NOT YET !
  </p>
  <p>
    Посмотреть статистику по скачанным проектам и выполнить аналитические задачи
    для выбранных проектов вы можете через страницу "Меню". Результат выполнения
    аналитических задач будет представлен в виде графиков. ! NOT YET !
  </p>
  <p>Для выполнения доступны 6 различных аналитических задач: ! NOT YET !</p>
  <ol>
    <li>
      Гистограмма, отражающая время, которое задачи провели в открытом
      состоянии.
    </li>
    <li>
      Диаграммы, которые показывают распределение времени по состоянием задач.
    </li>
    <li>
      График активности по задачам (показывает количество заведенных и закрытых
      задач в день).
    </li>
    <li>
      График сложности задач (отражает залогированное время, которое потратил
      участник на ее выполнение).
    </li>
    <li>График, отражающий приоритетность всех задач.</li>
    <li>График, отражающий приоритетность закрытых задач.</li>
  </ol>
  <p>Провести сравнение по проектам можно перейдя на страницу "Сравнение".</p>

  <div class="alert alert-danger" role="alert">
    Обратите внимание на то, что в результате сравнения проектов будут построены
    только те сводные диаграммы, аналитика для которых вызывалась у всех
    проектов, которые вы хотите сравнить.
  </div>
</div>

<div class="container-fluid m-5">
  <h1>Ones in charge</h1>
</div>
<div class="container-fluid text-center m-5">
  <div class="row gx-5">
    <div class="col">
      <app-card
        firstName="Александра"
        lastName="Ткаченко"
        avatar="assets/alex-avatar.jpg"
        gitURL="https://github.com/alixchan"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        firstName="Марина"
        lastName="Бирюкова"
        avatar="assets/marina-avatar.jpg"
        gitURL="https://github.com/MarinaBiryukova"
      ></app-card>
    </div>
    <div class="col">
      <app-card
        firstName="Kate"
        lastName="Lebedeva"
        avatar="assets/kate-avatar.jpg"
        gitURL="https://github.com/w0lframm"
      ></app-card>
    </div>
  </div>
</div>

<nav class="navbar" style="background-color: #21a649">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Just some footer</a>
  </div>
</nav>
